<div *ngIf="singleUserStoryReport && singleUserStoryReport.userStory" class="user-story">
  <p class="user-story__result">
    <strong class="user-story__result__title">Format:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.userStoryType}}
    </span>
  </p>
  <p class="user-story__result">
    <strong class="user-story__result__title">Cümle:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.userStorySentence}}
    </span>
  </p>
  <p class="user-story__result">
    <strong class="user-story__result__title">Rol Kısmı:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.role}}
    </span>
  </p>
  <p class="user-story__result">
    <strong class="user-story__result__title">Fayda Kısmı:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.reason}}
    </span>
  </p>
  <p class="user-story__result">
    <strong class="user-story__result__title">Amaç Kısmı:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.goal}}
    </span>
  </p>
</div>
<div class="listing-card">
  <p class="listing-card__title">{{singleUserStoryReport ? 'Kriterler:' : 'Set Kriterler:'}}</p>
  <div class="listing-card__criteria" *ngFor="let criteria of criteriaToBeListed | keyvalue; let i = index"
    [ngClass]="{'listing-card__success':criteria.value.satisfiesThisCriteria,'listing-card__error':!criteria.value.satisfiesThisCriteria}">
    <p>
      <i class="fa fa-question-circle listing-card__question-mark" (mouseenter)="showOrHideTooltip(i)"
        (mouseleave)="showOrHideTooltip(i)"></i>
      {{criteria.key | removeUnderscore | titlecase }} :
      {{criteria.value.errorMessage ? criteria.value.errorMessage : "Bu cümle bu kriteri karşılamaktadır."}}
    </p>
    <span class="listing-card__checkmark"><i class="fas fa-check"></i></span>
    <button *ngIf="!criteria.value.satisfiesThisCriteria" (click)="showSuggestions(criteria.key)" type="button"
      class="listing-card__show-recommendations">Önerileri
      Göster</button>
    <span class="listing-card__tooltip">{{criteria.value.description}}</span>
  </div>
  <button type="button" class="listing-card__try-again" (click)="reset()">Tekrar Dene</button>
</div>
<ng-template #popUp>
  <div class="pop-up-modals">
    <div class="pop-up-modals__header">
      <h1 class="pop-up-modals__title">Öneriler</h1>
      <button class="pop-up-modals__close-button" (click)="close()"><i class="fas fa-times"></i></button>
    </div>
    <div class="pop-up-modals__body">
      <ng-container *ngIf="suggestions$ | async as suggestionMap; else noSuggestion">
        <div class="pop-up-modals__suggestion_container" *ngFor="let suggestion of suggestionMap | keyvalue">
          <p>
            <strong>"{{suggestion.key}}": </strong>
            <span class="pop-up-modals__text" *ngFor="let value of suggestion.value; let i = index">
              <ng-container *ngIf="i !== suggestion.value.length-1">{{value}}, </ng-container>
              <ng-container *ngIf="i === suggestion.value.length-1">{{value}}</ng-container>
            </span>
          </p>
        </div>
      </ng-container>
      <ng-template #noSuggestion>
        <div class="pop-up-modals__error-text">
          <strong class="">Bu kriter için herhangi bir öneri bulunmamaktadır!</strong>
        </div>
      </ng-template>
    </div>
  </div>
</ng-template>
