<div class="user-story">
  <p class="user-story__result">
    <strong class="user-story__result__title">Format:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.userStoryType}}
    </span>
  </p>
  <p class="user-story__result">
    <strong class="user-story__result__title">Cümle:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.userStorySentence}}
    </span>
  </p>
  <p class="user-story__result">
    <strong class="user-story__result__title">Rol Kısmı:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.role}}
    </span>
  </p>
  <p class="user-story__result">
    <strong class="user-story__result__title">Fayda Kısmı:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.reason}}
    </span>
  </p>
  <p class="user-story__result">
    <strong class="user-story__result__title">Amaç Kısmı:</strong>
    <span class="user-story__result__text">
      {{singleUserStoryReport.userStory.goal}}
    </span>
  </p>
</div>
<div class="listing-card">
  <p class="listing-card__title">Kriterlerler:</p>
  <div class="listing-card__criteria" *ngFor="let criteria of singleUserStoryReport.criteriaCheckResults | keyvalue"
    [ngClass]="{'listing-card__success':criteria.value.satisfiesThisCriteria,'listing-card__error':!criteria.value.satisfiesThisCriteria}">
    <p>
      {{criteria.key | removeUnderscore | titlecase }} :
      {{criteria.value.errorMessage ? criteria.value.errorMessage : "This sentence satisfies this criteria."}}
      <span><i class="fas fa-check"></i></span>
    </p>
    <button *ngIf="!criteria.value.satisfiesThisCriteria" (click)="onSubmitSuggestions()" type="button"
      class="listing-card__show-recommendations">Önerileri Göster</button>
  </div>
  <button type="button" class="listing-card__try-again" (click)="reset()">Tekrar Dene</button>
</div>
