<form [formGroup]="formGroup" (ngSubmit)="submit()">
  <div class="single-user-story__format-container">
    <label *ngFor="let format of formats ; let i = index" class="single-user-story__format"
      [ngClass]="{'single-user-story__selected-format': formGroup.get('formatType').value === format}">
      Format {{i+1}}
      <input type="radio" [value]="format" [formControlName]="'formatType'">
    </label>
  </div>
  <div class="single-user-story__container">
    <div class="single-user-story__inputs">
      <input type="text" readonly value="Bir" style="width:50px;">
      <input type="text">
      <input type="text" readonly value="olarak" style="width:100px;">
    </div>
    <div class="single-user-story__inputs">
      <input type="text">
      <input type="text" readonly value="için" style="width:70px;">
    </div>
    <div class="single-user-story__inputs">
      <input type="text">
      <select>
        <option>istiyorum</option>
        <option>istiyoruz</option>
        <option>ihtiyacım var</option>
        <option>ihtiyacımız var</option>
      </select>
    </div>
    <button type="submit" class="single-user-story__button">Gönder</button>
  </div>
</form>
