@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.import-file {
  max-width: 500px;

  &__icon {
    margin-right: 5px;
  }

  &__button {
    margin-top: 40px;
  }

  &__success {
    animation-name: fade-out;
    animation-duration: 8s;
    margin-top: 30px;
  }
}
