<form class="import-file">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFile" (change)="fileChange($event)">
    <label class="custom-file-label" for="customFile">
      <ng-container *ngIf="!importedFile">Dosya Seç</ng-container>
      <ng-container *ngIf="importedFile">
        <i class="fas fa-file import-file__icon"></i>{{importedFile.name}}</ng-container>
    </label>
    <button type="button" class="button import-file__button" (click)="submit()">Gönder</button>
  </div>
</form>
<div id="success-alert" class="alert alert-success import-file__success" role="alert"
  *ngIf="reportSuccessfullyDownloaded">
  Kullanıcı hikayeleri raporun başarıyla oluşturuldu ve indirildi.
</div>
