<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <app-formats [formGroup]="formGroup" [disableFormat]="userStoryList.length > 0"></app-formats>
  <div class="multiple-user-story__container">
    <div>
      <div class="multiple-user-story__amount-container">
        <p class="multiple-user-story__question">Kaç tane kullanıcı hikayesi eklemek istersin?</p>
        <select [formControlName]="'userStoryAmount'" [attr.disabled]="userStoryList.length > 0 ? '' : null">
          <option *ngFor="let amount of userStoryRange;let i = index" [value]="i + 2">{{i+2}}</option>
        </select>
      </div>
      <p class="multiple-user-story__text">Kalan kullanıcı hikayesi
        sayısı: {{formGroup.get('userStoryAmount').value - userStoryList.length}}</p>
      <app-enter-user-story [formGroup]="formGroup" [showInputs]="true"
        [buttonText]="(userStoryList.length < formGroup.get('userStoryAmount').value -1) ? 'Ekle' : 'Gönder'">
      </app-enter-user-story>
    </div>
    <div class="multiple-user-story__list card" *ngIf="userStoryList.length > 0">
      <div class="card-header">
        Eklenen kullanıcı hikayeleri
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let userStory of userStoryList">{{userStory}}</li>
      </ul>
    </div>
  </div>
  <ng-container *ngIf="multipleUserStoryReport$ | async as multipleUserStoryReport">
    <!-- <app-listing-card *ngIf="!showInputs" [singleUserStoryReport]="singleUserStoryReport"
      (resetForm)="showOrHideInputs()">
    </app-listing-card> -->
  </ng-container>
  <div id="success-alert" class="alert alert-success success" role="alert" *ngIf="userStorySubmitted">
    Kullanıcı hikayesi başarıyla eklendi.
  </div>
</form>
